# Ejemplo de archivo .env para TechNovaStore
# Rellena estos valores con los datos reales en tu entorno local

# Vault (común para todos los servicios)
VAULT_ADDR=http://vault:8200

# pgAdmin AppRole
PGADMIN_VAULT_ROLE_ID=pon-aqui-tu-role-id
PGADMIN_VAULT_SECRET_ID=pon-aqui-tu-secret-id

# Postgres AppRole
POSTGRES_VAULT_ROLE_ID=pon-aqui-tu-role-id
POSTGRES_VAULT_SECRET_ID=pon-aqui-tu-secret-id

# Mongo AppRole
MONGO_VAULT_ROLE_ID=pon-aqui-tu-role-id
MONGO_VAULT_SECRET_ID=pon-aqui-tu-secret-id

# MongoDB credentials
MONGO_INITDB_ROOT_USERNAME=pon-aqui-tu-usuario-root-mongodb
MONGO_INITDB_ROOT_PASSWORD=pon-aqui-tu-password-root-mongodb
MONGO_INITDB_DATABASE=pon-aqui-tu-base-de-datos-mongodb

# Mongo Express Login
ME_CONFIG_BASICAUTH_USERNAME=pon-aqui-tu-usuario-admin-mongo-express
ME_CONFIG_BASICAUTH_PASSWORD=pon-aqui-tu-password-admin-mongo-express
